<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Amber Alerts - Report A Lost Person</title>
  <!-- Compiled and minified JavaScript -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
     <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Amber Alerts</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Forum</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Forum</a></li>
      </ul>
	  <ul class="right hide-on-med-and-down active">
        <li>
  <a class='dropdown-button'  data-beloworigin="true" href='#' data-activates='dropdown1'>Statistics</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">By Time</a></li>
	
    <li><a href="#!">By Location</a></li>
    
   
  </ul>
  
		
		</li>
      </ul>
	  
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Report a lost person</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Report a lost person</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Found Someone?</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Found Someone?</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<div class="container">
<h2>Report a lost person</h2>
<div class="row">
    <form class="col s12">
	  <div class="row">
      <div class="col s6 red"><h5>Step 1:- Verify Aadhar Details</h5></div>
      <div class="col s6"><h5>Step 2:- Submit Lost Details</h5></div>
    </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Aadhar Number" id="first_name" type="text" class="validate">
          <label for="aadhar">Aadhar Number</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Full Name" id="last_name" type="text" class="validate">
          <label for="full_name">Full Name</label>
        </div>
      </div>
	  <div class="row">
	  <div class="input-field col s12">
	            <label for="gender">Gender</label><br/></br/>

	  <p>
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Male</label>
  
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3">Female</label>
    </p>
	
	</div>
	  </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Pin Code</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
		  <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
<button class="btn waves-effect waves-light" type="submit" name="action">Proceed
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
</div>
  

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made at <a class="orange-text text-lighten-3" href="#">CFI 2015</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
