<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Amber Alerts - Home</title>
  <!-- Compiled and minified JavaScript -->
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
     <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo" style="font-family: 'Poiret One', cursive;">Amber Alerts</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Forum</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Forum</a></li>
      </ul>
	  <ul class="right hide-on-med-and-down">
        <li>
  <a class='dropdown-button'  data-beloworigin="true" href='#' data-activates='dropdown1'>Statistics</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="statsByTime">By Time</a></li>
	
    <li><a href="statsByLocation">By Location</a></li>
    
   
  </ul>
  
		
		</li>
      </ul>
	  
      <ul class="right hide-on-med-and-down">
        <li><a href="/check">Report a lost person</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/check">Report a lost person</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Found Someone?</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Found Someone?</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text"  style="font-family: 'Bree Serif', serif;">Amber Alerts</h1>
      <div class="row center">
        <h5 class="header col s12 light">For Reporting And Finding the loved ones Online</h5>
      </div>
      <div class="row center">
        <a href="/check" id="download-button" class="btn-large waves-effect waves-light orange">Report A Lost Person</a>
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Found Someone?</a>
        <a href="/statsByTime" id="download-button" class="btn-large waves-effect waves-light orange">Check Stats</a>

	 </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Report A Lost Person</h5>

            <p class="light">Report the details of the lost person, Filling a small form with image, name , address and other details of the lost person you can create a post.We will help you circulating the missing reports to nearby people and Other networks like Facebook, Twitter etc with an effiective poster as well.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Found someone? Check for his post</h5>

            <p class="light">We have public listing of all reported lost persons, One can simply go through it and check if the person found by him is matching with any post in our directory.If you find one, you can simply contact them with the phone numbers, address or email provided in the post.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Stats</h5>

            <p class="light">We can understand how it feels when you are seperated from your loved ones, We provide the stats. Yearly, Monthly etc which shows how many cases are solved.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">I am Harsh Vardhan, second year student from BIT, Mesra, Ranchi :)</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <ul>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
            <li><a class="white-text" href="#!"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made for <a class="orange-text text-lighten-3" href="#">Walmart Hackathon 2015</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
