<head>
  <!-- D3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Plotly.js -->
  <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
     <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Amber Alerts</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Forum</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Forum</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li>
          <a class='dropdown-button'  data-beloworigin="true" href='#' data-activates='dropdown1'>Statistics</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="statsByTime">By Time</a></li>
          
            <li><a href="statsByLocation">By Location</a></li>
          </ul>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/check">Report a lost person</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/check">Report a lost person</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Found Someone?</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Found Someone?</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> 
  <div id="location"><!-- Plotly time chart will be drawn inside this DIV --></div>
  <script src="../js/statsByLocation.js"></script>

  <!-- Dropdown Trigger -->
  <div style="padding:60px">
    <a class='dropdown-button btn' href='#' data-activates='ddd'>States</a>

    <!-- Dropdown Structure -->
    <ul id='ddd' class='dropdown-content'>
      <li id="cityName" data-city='Delhi'><a>Delhi</a></li>
      <li><a href="statsByLocation">Lucknow</a></li>
      <li><a href="statsByLocation">Bangalore</a></li>
      <li><a href="statsByLocation">Mumbai</a></li>
    </ul>
  </div> 
  <script>

$(document).ready(function(){
 $("#cityName").click(function(){
console.log($(this).data('city'),"  hello");
    //window.open('location.html');
    var abc=  $(this).data('city');
    console.log(abc);
    var geocoder = new google.maps.Geocoder();
var address = abc;

geocoder.geocode( { 'address': address}, function(results, status) {

if (status == google.maps.GeocoderStatus.OK) {
    var latitude = results[0].geometry.location.lat();
    var longitude = results[0].geometry.location.lng();
     //alert("lat = " + latitude + "\n" + "long = " + longitude);
    }
    window.open("/statsByLocation/" + latitude + "/" + longitude); 
}); 


})
  

  })

 
  </script>
        
</body>